.ant-layout {
    height: 100%;
  }
  
  .header {
    padding: 0;
  }
  
  .logo {
    width: 180px;
    height: 60px;
    background: url('@/assets/dashboard_icon.svg') no-repeat center / 60px auto;
  }
  
  .layout-content {
    background-color: whitesmoke;
    color: black;
    overflow-y: auto;
  }
  
  .user-info {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    color: #fff;
    
    .user-name {
      color: black;
      margin-right: 20px;
    }
    
    .user-logout {
      color: black;
      display: inline-block;
      cursor: pointer;
    }
  }
  .ant-layout-header {
    padding: 0 !important;
    background-color: #fff;
}

