.container {
    display: flex;
    align-items: center; /* Vertically align items */
  }
  

.welcome-header {
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  


.linkbtn {
  display: flex;
  padding: 2.5em 2.5em;
  margin-left: 1em;
  font-size:large;
  }

<<<<<<< HEAD
  .mood {
    text-align : left;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif
  }

  .react-calendar__tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mood-button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .mood-button:hover {
    background-color: #e0e0e0;
  }
  
  .shift{
      display: flex;
      justify-content: flex-end;
=======
.right-align {
    text-align: right;
    margin-left: 40em;
    padding: 2em;
  }
  
.left-align {
    text-align: left;
    margin-left: 50px;
  }
  
.center-align {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
.app-background {
    background-color: lightblue; 
    min-height: 100vh; 
>>>>>>> 976b4787cd628574b0b8e4d77ec0305abcf0ed51
  }
 
    