/* DropDownMenu.css */
.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-trigger {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .arrow-down {
    margin-left: 5px;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    top: 100%;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    list-style-type: none;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }