#root {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
  }
  
  body {
    background-color: #f0f2f5;
  }
  
  .right-align {
    text-align: right;
    margin-left: 30em;
    padding: 2em;
  }
  
  .left-align {
    text-align: left;
    margin-left: 50px;
  }
  
  .center-align {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .app-background {
    background-color: lightblue; 
    min-height: 100vh; 
  }
  
  .home-page .site-layout-background {
        display: none; /* Hide the layout bar only on the home page */
    }